@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.link-with-underline {
  position: relative;
  text-decoration: none;
}

.link-with-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.5px;
  width: 0;
  height: 1.5px;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.link-with-underline:hover::after {
  width: 100%;
  left: 0;
}
